<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header-basic">    
    <title>DukeWiki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Custom css -->
    <link th:href="@{/css/duke.css}"    rel="stylesheet"/>
    <link th:href="@{/css/duke-md.css}" rel="stylesheet"/>      
  </head>     
</html>
