<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header-edit">    
    <title>DukeWiki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    
    <!-- ToastUI -->
    <link th:href="@{/css/toastui-editor.min.css}" rel="stylesheet" />
    
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Syntax highlight css -->
    <link th:href="@{/css/toastui-editor-plugin-code-syntax-highlight.min.css}" rel="stylesheet" />
    
    <!-- Custom css -->
    <link th:href="@{/css/duke.css}"    rel="stylesheet"/>
    <link th:href="@{/css/duke-md.css}" rel="stylesheet"/>      
  </head>     
    
</html>