<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header-edit}"></head>
<body >

  <!-- Include edit navigation bar  -->  
  <div th:replace="~{/fragments/nav-edit}"></div>  
  
  <nav class="navbar-light" style="background-color: #e3f2fd;">
    <div class="d-flex flex-grow-1" th:text="${path}">path</div>
  </nav>  
  
  <form id="my-form" th:action="@{/save.do}" method="POST">
    <textarea id="my-content" name="content" th:text="${content}" hidden="hidden">content</textarea>
    <input id="my-path" name="path" type="text" value="path" th:value="${path}" hidden="hidden">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  </form>

  <p></p>
  <div id="dukemd" class="box-shadow"></div>

  <script th:src="@{/js/bootstrap.min.js}"></script>  
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/toastui-editor-all.min.js}"></script>
  <script th:src="@{/js/toastui-editor-plugin-code-syntax-highlight-all.min.js}"></script>
  
  <!-- A thymeleaf JS code to get the value of context-root -->
  <script th:inline="javascript">
      var contextRoot = /*[[@{/}]]*/ "";
      contextRoot = contextRoot.replace(/\/$/, "");
  </script>   
  <script>
    const { codeSyntaxHighlight } = toastui.Editor.plugin;
   
    const editor = new toastui.Editor({
      el: document.querySelector('#dukemd'),
      previewStyle: 'vertical',
      initialEditType: 'wysiwyg',
      height: 'auto',
      autofocus: false,
      plugins: [codeSyntaxHighlight]
    });
    
    editor.setMarkdown($('#my-content').val());
    editor.moveCursorToEnd(false);
   
    function cancel()
    {
      $('#my-form').action = contextRoot + '/cancel.do';
      $('#my-form').submit();
    }

    function save()
    {
      $('#my-content').val(editor.getMarkdown());
      $('#my-form').submit();
    }
       
    /* On ready */
    $(document).ready(function(){
    	$('#dukemd .toastui-editor-main').scrollTop(0);
    });

  </script>  
  
</body>
</html>