<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header-basic}"></head>
<body >

  <!-- Include edit navigation bar  -->  
  <div th:replace="~{/fragments/nav-edit}"></div>  
  
  <nav class="navbar-light" style="background-color: #e3f2fd;">
    <div class="d-flex flex-grow-1" th:text="${path}">path</div>
  </nav>  
  
  <form id="my-form" class="align-child-center mt-3" th:action="@{/save.do}" method="POST">
  
    <div id="duketxt" class="card mx-auto my-3" style="min-width: 80%; width: 95%">
      <div class="card-header text-white bg-v2 d-flex">
        <span class="material-icons">edit_note</span>
        <span class="mx-1"><b>Editing: </b></span>
        <div class="valign-child-center flex-grow-1" th:text="${fileName}"></div>
      </div>
      <textarea name="content" th:text="${content}" rows="50"></textarea>
    </div>
    
    <input id="my-path" name="path" type="text" value="path" th:value="${path}" hidden="hidden">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    
  </form>

  <script th:src="@{/js/bootstrap.min.js}"></script>  
  <script th:src="@{/js/jquery.min.js}"></script>
  
  <!-- A thymeleaf JS code to get the value of context-root -->  
  <script th:inline="javascript">
      var contextRoot = /*[[@{/}]]*/ "";
      contextRoot = contextRoot.replace(/\/$/, "");
  </script>
     
  <script>
   
    function cancel()
    {
      $('#my-form').action = contextRoot + '/cancel.do';
      $('#my-form').submit();
    }

    function save()
    {
      $('#my-form').submit();
    }
       
    /* On ready */
    $(document).ready(function(){
    	$('#duketxt').scrollTop(0);
    });

  </script>  
  
</body>
</html>