<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header-basic}"></head>
<body>

  <!-- Include edit navigation bar  -->  
  <div th:replace="~{/fragments/nav-basic}"></div>  
  
  <!-- Include breadcrumb  -->  
  <div th:replace="~{/fragments/nav-crumb}"></div>    
  
  <p class="py-1"></p>
  
  <div class="card mx-auto my-3" style="min-width: 80%; width: 95%">
    <div class="card-header bg-v2 text-white" th:text="${fileName}"></div>
    <div id="dukemd" class="card-body" th:utext="${content}"></div>
  </div>
    
  <script th:src="@{/js/bootstrap.min.js}"></script>  
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/prism.js}"></script>
 
</body>
</html>